APP_URL=http://localhost:3333
PORT=3333
NODE_ENV=development

APP_SECRET=9de3ed261ac5b9a6f8cc80034f17b5ca

DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASS=docker
DB_NAME=gobarber

MONGO_URL=mongodb://localhost:27017/gobarber

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

SENTRY_DSN=
